@using BookServiceReference;

@model BookResponseDto[]

@if (Model != null)
{
    @foreach (BookResponseDto book in Model)
    {
        <tr class="tr-book">
            <th scope="row" class="th-book">@book.IdBook</th>
            <td>@book.Code</td>
            <td>@book.Title</td>
            <td class="td-book">@((bool)book.IsAvailable! ? "NO RESERVADO" : "RESERVADO")</td>
            <td>@book.DateReservation</td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="4" class="text-center text-danger">No hay registros</td>
    </tr>
}
